<% layout("./layouts/boilerplate") -%>

<body>
    <main class="flex-fill"> 
    <div class="container">
    <div id="filters">
        <div class="icon-section">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-calendar-days"></i></div>
            <p>Check In</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-calendar-days"></i></div>
            <p>Check  Out</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-location-crosshairs"></i></div>
            <p>Destination</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mug-hot"></i></div>
            <p>Services</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-paw"></i></div>
            <p>Bringing Pets</p>
        </div>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Total after Taxes</label>
            </div>
        </div>
    </div>
    <div class="row">
        <% for(let listing of listings) {%>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card w-100 h-100 listing-card">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing-image" />
                        <div class="card-img-overlay"><h5><%=listing.title%></h5></div>
                        <div class="card-body">
                            <p class="card-text">
                            <b><%=listing.title%></b><br>
                            <% if (typeof listing.price === "number") { %>
                                &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                            <% } else { %>
                            Price not available
                            <% } %>

                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
       
    </div>
    </div>
    </main>
    
</body>

<script>
    let taxSwitch=document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display==="none" || info.style.display===""){
                info.style.display="inline";
            } else {
                info.style.display="none";  
            }
        }
    });
</script>